# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea
cmake-build-debug/
nbproject/
.kdev4/
force_guiding.kdev4
.catkin_tools/

# CMake 
CMakeFiles/
CMakeCache.txt
build/
