<launch>
    <param name="topic_pub" value="/cmd_vel" />
    <param name="topic_stiff" value="/meka_roscontrol/stiffness_controller/command" />
    <param name="jointcount" value="29" />
    <param name="stiffness" value="0.1" />

    <node name="meka_guiding" pkg="meka_guiding" type="meka_guiding"  output="screen" />
</launch>
